<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <%= titlePage %>
    </title>
</head>
<body>
<h1>hello world</h1>
<div>
   <% data.forEach((item) => {%>
    <h1><% item.id%> - <% item.title%></h1>
    <%})%>
</div>
</body>
</html>

